# This is a sample build configuration for Other.
# Check our guides at https://confluence.atlassian.com/x/5Q4SMw for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
# image: atlassian/default-image:latest

pipelines:
  default:
    - step:
        name: Push to GitHub
        script:
          - git remote add github git@github.com:lnhorwood/server.git
          - git push github master
  custom: 
    publish:
      - step:
          name: Publish changes to NPM
          image: node:latest
          script:
            - git config user.signingkey $GPG_KEY
            - printf "//`node -p \"require('url').parse('https://registry.npmjs.org').host\"`/:_authToken=${NPM_TOKEN}\nregistry=${NPM_REGISTRY_URL:-https://registry.npmjs.org}\nscope=@horwood\nsign-git-tag=true\n" >> ~/.npmrc
            - npm install
            - git config user.email "${GIT_EMAIL}"
            - git config user.name "Luke Horwood"
            - npm run release
            - git push origin master
